<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>NBA league</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fontawesome/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="container">
        <h3 class="text-center display-4 font-weight-bold pt-5">NBA League</h3>
    </div>
    <div class="row position-relative">
        <th:block layout:fragment="content">
            <th:block th:each="team : ${teams}">
                <div class="col-lg-6">
                    <div class="team-box">
                        <div class="d-flex align-items-center justify-content-between">
                            <h3 class="m-0" th:text="${team?.name}"></h3>

                            <i class="fas fa-ellipsis-h" id="dropdownMenuButton" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a th:href="@{/players/create(teamId = ${team?.teamId})}" class="dropdown-item">Add
                                    player</a>
                            </div>
                        </div>

                        <div class="mt-3">
                            <th:block th:if="${#lists.isEmpty(team?.players)}">
                                <p>Team is empty!</p>
                            </th:block>

                            <th:block th:unless="${#lists.isEmpty(team?.players)}">
                                <table class="table table-hover w-100 offset-sm-1 center">
                                    <thead>
                                    <tr>
                                        <th class="box-label">Name</th>
                                        <th class="box-label">Height</th>
                                        <th class="box-label">Phone</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="player : ${team?.players}">
                                        <tr>
                                            <td th:text="${player?.fullName}"></td>
                                            <td th:text="${player?.height}"></td>
                                            <td th:text="${player?.phone}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>